
body,html
{
    background:white;
    height: 100%;
}

/*
main {
  padding-top: 2.5rem;
}
*/

.form-holder
{
   margin: 0 auto 20px;

}

.MyCustomButtonHolder
{
    margin: 0 auto;
}





.blank-div-1
{
    width:100%;
    height: 60px;
    background:white;
}

.blank-div-2
{
    width:100%;
    height: 200px;
    background:white;
}

.contact-us-button
{
  width: 35%;
  height:35px;
  padding: 3px 9px;
  border: 0 none;
  letter-spacing: 1px;
  font-weight: bold;
}

.owl-image-holder
{
    margin: 0 auto;
}

.contact-us-owl:hover
{
  -webkit-animation:wiggle 1.5s linear infinite;
  animation:wiggle 1.5s linear infinite;
}


@media only screen and (max-width: 768px) {
.contact-us-button
    {
        font-size:12px;
    }

}




